body{
    background-color: silver;
}


.container>div{
    flex-wrap: wrap ;
    flex-direction: row;
}
img{
    margin-left: 35px;
    padding: 10px;
    height: 450px;
    width: 450px;
}